# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist

# misc
# .env: Default.
# .env.local: Local overrides. This file is loaded for all environments except test.
# .env.development, .env.test, .env.production: Environment-specific settings.
# .env.development.local, .env.test.local, .env.production.local: Local overrides of environment-specific settings.
# Files on the left have more priority than files on the right:

# npm start: .env.development.local, .env.local, .env.development, .env
# npm run build: .env.production.local, .env.local, .env.production, .env
# npm test: .env.test.local, .env.test, .env (note .env.local is missing)

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

